
body{
    background-color: rgb(181, 181, 182);
}

.container{
    position: relative;
    left: 15%;
    top: 10px;
    background-color: red;
    width: 70%;
    height: 600px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    
}

.chat-box{
    background-color: aqua;
    width: 70%;
    height: 400px;
    position: relative;
    left: 15%;
    padding: 10px;
    border-radius: 10px;
}
.chat-container{
    width: 50%;
    border-radius: 10px;
    height: 2rem;
    background-color: blueviolet;
    padding: 5px;
    align-items: center;
}