
body{
    background-color: rgb(181, 181, 182);

}
.container{
    background-color: red;
    width: 600px;
    height: 400px;
}
.chat-box{
    background-color: aqua;
    width: 200px;
    height: 400px;
}